# common
.DS_Store
.vscode/
.ipynb_checkpoints/
__pycache__/
~$*
tmp*
*.egg-info/

# docs
application/
my_notes/

# acc_md_with_ai
md17_aspirin.npz

# foundation model
Pretrained-MoLFormer*
dsgdb9nsd.xyz*

# misc
Mambaforge-Linux-x86_64.sh
