# common
.DS_Store
.vscode/
.ipynb_checkpoints/
__pycache__/
~$*
tmp*
*.egg-info/
*.synctex.gz

# docs
private/

# acc_md_with_ai
md17_aspirin.npz

# foundation model
Pretrained-MoLFormer*
dsgdb9nsd.xyz*
